<?xml version="1.0" encoding="UTF-8"?>

<odoo>

    <menuitem id="menu_scale_root"
        name="Scales"
        parent="sale.menu_sale_config" sequence="25"/>

    <menuitem id="menu_product_scale_system"
        parent="menu_scale_root" sequence="1"
        action="action_product_scale_system"/>

    <menuitem id="menu_product_scale_group"
        parent="menu_scale_root" sequence="2"
        action="action_product_scale_group"/>

    <menuitem id="menu_product_scale_log"
        parent="menu_scale_root" sequence="3"
        action="action_product_scale_log"/>

</odoo>
